In [1]:
import pandas as pd

Read files

In [36]:
%ls

Data analytics notebook.ipynb

In [37]:
wifi_log_data = pd.read_csv("../cleaned_data/full.csv", names=["room", "event_time", "detec1", "detec2"])
wifi_log_data.head()

,room,event_time,detec1,detec2
0,Belfield > Computer Science > B-002,Mon Nov 02 20:32:06 GMT+00:00 2015,0,0
1,Belfield > Computer Science > B-002,Mon Nov 02 20:37:10 GMT+00:00 2015,0,0
2,Belfield > Computer Science > B-002,Mon Nov 02 20:42:12 GMT+00:00 2015,0,0
3,Belfield > Computer Science > B-002,Mon Nov 02 20:47:14 GMT+00:00 2015,0,0
4,Belfield > Computer Science > B-002,Mon Nov 02 20:52:11 GMT+00:00 2015,0,0

In [38]:
wifi_log_data.tail()

,room,event_time,detec1,detec2
12412,Belfield > Computer Science > B-004,Tue Nov 17 11:01:59 GMT+00:00 2015,18,18
12413,Belfield > Computer Science > B-004,Tue Nov 17 11:06:37 GMT+00:00 2015,32,32
12414,Belfield > Computer Science > B-004,Tue Nov 17 11:13:19 GMT+00:00 2015,39,39
12415,Belfield > Computer Science > B-004,Tue Nov 17 11:21:11 GMT+00:00 2015,42,42
12416,Belfield > Computer Science > B-004,Tue Nov 17 11:26:07 GMT+00:00 2015,46,46

In [40]:
for i in range(wifi_log_data.shape[0]):
    x = wifi_log_data["event_time"][i]
    y = parse(x)
    epoch = int(time.mktime(y.timetuple()))
    wifi_log_data.set_value(i,"event_time",epoch)

In [41]:
wifi_log_data.head()

                                  room  event_time  detec1  detec2
0  Belfield > Computer Science > B-002  1446496326       0       0
1  Belfield > Computer Science > B-002  1446496630       0       0
2  Belfield > Computer Science > B-002  1446496932       0       0
3  Belfield > Computer Science > B-002  1446497234       0       0
4  Belfield > Computer Science > B-002  1446497531       0       0

In [42]:
for i in range(wifi_log_data.shape[0]):
    wifi_log_data.set_value(i, "room", wifi_log_data["room"][i][-1:])

In [43]:
wifi_log_data.head()

  room  event_time  detec1  detec2
0    2  1446496326       0       0
1    2  1446496630       0       0
2    2  1446496932       0       0
3    2  1446497234       0       0
4    2  1446497531       0       0

In [44]:
wifi_log_data.tail()

      room  event_time  detec1  detec2
12412    4  1447758119      18      18
12413    4  1447758397      32      32
12414    4  1447758799      39      39
12415    4  1447759271      42      42
12416    4  1447759567      46      46

In [45]:
wifi_log_data["building"] = "school of computer science"

In [46]:
wifi_log_data.head()

  room  event_time  detec1  detec2                    building
0    2  1446496326       0       0  school of computer science
1    2  1446496630       0       0  school of computer science
2    2  1446496932       0       0  school of computer science
3    2  1446497234       0       0  school of computer science
4    2  1446497531       0       0  school of computer science

In [47]:
occupancy_data = pd.read_csv("../cleaned_data/survey_data.csv")

In [49]:
occupancy_data.head()

   Unnamed: 0  room  event_time  occupancy                    building
0           0     4  1446454800       0.25  school of computer science
1           1     2  1446454800       0.25  school of computer science
2           2     3  1446454800       0.25  school of computer science
3           3     4  1446458400       0.50  school of computer science
4           4     2  1446458400       0.50  school of computer science

In [50]:
occupancy_data.tail()

     Unnamed: 0  room  event_time  occupancy                    building
235         235     2  1447426800       0.25  school of computer science
236         236     3  1447426800       0.25  school of computer science
237         237     4  1447430400       0.00  school of computer science
238         238     2  1447430400       0.25  school of computer science
239         239     3  1447430400       0.25  school of computer science

In [51]:
occupancy_data.drop("Unnamed: 0")

ValueError: labels ['Unnamed: 0'] not contained in axis